/vendor/
composer.phar
.env
/storage/logs/*.log
/storage/cache/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
.idea/
.vscode/
*.cache
